.button {
	box-sizing: border-box;
	border: 1px solid transparent;
	width: auto;
	height: 40px;
	padding: 6px 16px;
	border-radius: 4px;
	box-shadow: 0 2px 6px rgba(0, 0 ,0, 0.3);
	font-size: 14px;
	outline: none;
	text-overflow: ellipsis;
  align-items: center;
  display: flex;
  justify-content: center;
	// position: absolute;
	// left: 50%;
	// margin-left: -12px;
	// margin-top: 12px;

}